.food-entry-table {
  position: relative;
  width: 960px;
  background: #fff;
  margin: 0 auto;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  box-sizing: border-box;
}

.food-name {
  width: 350px;
  text-align: left;
  font-size: 14px;
}
table {
  border-spacing: 0 10px;
  margin: 0 auto;
}

table th {
  padding: 5px 15px;
  text-align: center;
}

th span {
  font-size: 12px;
}

table tr td {
  text-align: center;
}

tbody tr:nth-child(odd).foodentry{
  background: #d2d2d2;
  color: #000;
}

/* no background for delete button area*/
tbody tr:nth-child(odd).foodentry td:nth-child(6){
  background: #fff;
  color: #d2d2d2;
}

tbody tr:nth-child(even).foodentry{
  background: #fff;
  color: #000;
}

.delete-button {
  border: 0;
  color: #d2d2d2;
  font-size: 12px;
  padding-left: 15px;
}

.delete-button:hover {
  color: red;
}
